<div class="header"><a class="link forum-login" href="#">S'identifier</a></div>
<h1><a class="link" href="#">Discutons</a></h1>

<h2><a class="link" href="#">Présentation</a></h2>
<h3><strong>Je suis nouveau</strong></h3>

<div class="new-message"></div>

<div></div>

<ol class="forum-thread">
	<li class="thread"><strong>Je suis nouveau</strong> <br />
	<span>le 03/12/2008 à 08:45:33</span> <a class="link forum-user"
		href="#">Un Auteur</a>

	<div class="post-detail">Donec ornare, quam eget accumsan
	vehicula, lorem dolor aliquam turpis, in dictum orci orci ac lorem. Sed
	eget arcu. Ut hendrerit imperdiet sapien. Suspendisse vel mauris. Sed a
	elit. Maecenas rhoncus ante blandit felis. Sed sodales tempus metus.
	Morbi bibendum scelerisque turpis. Suspendisse tortor velit,
	ullamcorper euismod, adipiscing at, tincidunt eu, arcu. Pellentesque
	eget augue.</div>
	<p class="sign">Signature</p>

	</li>
	<li class="row-0"><span>1</span>. <strong>RE: Je suis
	nouveau</strong><br />
	<span>le 03/12/2008 à 08:45:59</span> <a class="link forum-user"
		href="#">Un Auteur</a>

	<div class="post-detail">Vivamus scelerisque? Proin ac lacus ac
	lectus rhoncus ornare. Nunc leo. Pellentesque id arcu tempus neque
	tincidunt pharetra. Duis tristique lectus in lorem. Integer rutrum
	gravida nisl.</div>
	<p class="sign">Signature</p>
	</li>
</ol>

<div></div>
<div class="new-message"></div>

