<h1><a class="link" href="#">Discutons</a></h1>
<h2><a class="link" href="#">Présentation</a></h2>
<h3><a class="link" href="#">Je suis nouveau</a></h3>

<span>1</span>
.
<strong>RE: Je suis nouveau</strong>
<span>le 03/12/2008 à 08:45:59</span>
<span>Un Auteur</span>

<p>Vivamus scelerisque? Proin ac lacus ac lectus rhoncus ornare.
Nunc leo. Pellentesque id arcu tempus neque tincidunt pharetra. Duis
tristique lectus in lorem. Integer rutrum gravida nisl.</p>
<p class="sign">Signature</p>
<a class="link" href="#">Retourner au sujet</a>