<div class="header"><a class="link forum-login" href="#">S'identifier</a></div>
<table class="normal" width="100%" cellpadding="0" cellspacing="0"
	summary="">
	<caption>
	<h1><a class="link" href="#">Discutons</a></h1>
	</caption>
	<thead>
		<tr>
			<th id="sections" class="text-align-left" colspan="2" width="50%">Sections</th>
			<th id="sujets" width="10%">Sujets</th>

			<th id="messages" width="10%">Messages</th>
			<th id="dernier-message" class="text-align-left" width="30%">Dernier
			Message</th>
		</tr>
	</thead>
	<tbody>
		<tr class="row-0">
			<td width="3%"> </td>
			<td headers="sections" class="text-align-left" width="47%">
			<dl>
				<dd><strong><a class="link" href="#">Généralités</a></strong></dd>
				<dt>Discutons de tout et de rien</dt>
			</dl>
			</td>
			<td headers="sujets" width="10%">1</td>
			<td headers="messages" width="10%">15</td>
			<td headers="dernier-message" class="text-align-left" width="30%">

			<span>Un Auteur</span> - <a class="link" href="#">le 10/11/2008 à
			13:25:52</a></td>
		</tr>
		<tr class="row-1">
			<td width="3%"> </td>
			<td headers="sections" class="text-align-left" width="47%">
			<dl>
				<dd><strong><a class="link" href="#">Présentation</a></strong>
				</dd>

				<dt>C'est ici que les nouveaux arrivants sont invités à se
				présenter</dt>
			</dl>
			</td>
			<td headers="sujets" width="10%">0</td>
			<td headers="messages" width="10%">0</td>
			<td headers="dernier-message" class="text-align-left" width="30%">
			</td>
		</tr>
	</tbody>
</table>